[submodule "vendors/argocd-example-apps"]
	path = vendors/argocd-example-apps
	url = https://github.com/argoproj/argocd-example-apps.git
[submodule "vendors/kube-edge-argocd-demo"]
	path = vendors/kube-edge-argocd-demo
	url = https://github.com/kgamanji/kube-edge-argocd-demo.git
[submodule "vendors/argoproj-deployments"]
	path = vendors/argoproj-deployments
	url = https://github.com/argoproj/argoproj-deployments.git
[submodule "vendors/argocd-image-updater"]
	path = vendors/argocd-image-updater
	url = https://github.com/argoproj-labs/argocd-image-updater.git
[submodule "vendors/kustomize"]
	path = vendors/kustomize
	url = https://github.com/kubernetes-sigs/kustomize.git
[submodule "vendors/learn-vault-external-kubernetes"]
	path = vendors/learn-vault-external-kubernetes
	url = https://github.com/hashicorp-education/learn-vault-external-kubernetes.git
[submodule "vendors/learn-vault-secrets-operator"]
	path = vendors/learn-vault-secrets-operator
	url = https://github.com/hashicorp-education/learn-vault-secrets-operator.git
[submodule "vendors/kind-playground"]
	path = vendors/kind-playground
	url = https://github.com/eddycharly/kind-playground.git
[submodule "vendors/argo-cd"]
	path = vendors/argo-cd
	url = https://github.com/argoproj/argo-cd.git
[submodule "vendors/multicloud-operators-application"]
	path = vendors/multicloud-operators-application
	url = https://github.com/stolostron/multicloud-operators-application.git
[submodule "vendors/argocd-app-of-apps-parent"]
	path = vendors/argocd-app-of-apps-parent
	url = https://github.com/d0-labs/argocd-app-of-apps-parent.git
[submodule "vendors/awesome-argo"]
	path = vendors/awesome-argo
	url = https://github.com/akuity/awesome-argo.git
[submodule "vendors/argocd-self-manage"]
	path = vendors/argocd-self-manage
	url = https://github.com/bukurt/argocd.git
[submodule "vendors/argocd-self-manage-kaio6fellipe"]
	path = vendors/argocd-self-manage-kaio6fellipe
	url = https://github.com/kaio6fellipe/argo.git
[submodule "vendors/argocd-self-manage-bukurt"]
	path = vendors/argocd-self-manage-bukurt
	url = https://github.com/bukurt/argocd.git
